<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation practice test suite" verbose="1">
    <listeners>
        <listener class-name="com.ui.listeners.AnnotationsTransformerClass"/>
    </listeners>
    <test name="UI Automation test" parallel="methods" thread-count="5" >
        <parameter name="browser" value="${browser}"/>
        <parameter name="isLambdaTest" value="${isLambdaTest}"/>
        <parameter name="isHeadLess" value="${isHeadLess}"/>
        <classes>
            <class name="com.ui.tests.LoginTest"/>
            <class name="com.ui.tests.LoginForInvalidCredentialsTest"/>
            <class name="com.ui.tests.LoginForInvalidCredentialsTest"/>
            <class name="com.ui.tests.AddressTest"/>
            <class name="com.ui.tests.SearchProductTest"/>
            <class name="com.ui.tests.ProductCheckOutTest"/>
        </classes>
    </test>
</suite>